<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style.css" rel="stylesheet">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <title>{{ title }}</title>
</head>
<body class='text-slate-900'>
  
    {%- include 'header.njk' -%}
    {{ content | safe }}
    {%- include 'footer.njk' -%}

  


    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
</body>
</html>

