---
layout: base.njk
title: 
---
<section class="container grid grid-cols-2 py-16 gap-16 ">
    <img src="{{image}}" alt="">
    <div class="grid grid-cols-2 text-xl font-medium">
        <p>Code:</p>
        <p>{{code}}</p>
        <p>Equipment Type:</p>
        <p>{{equipment}}</p>
        <p>Maker:</p>
        <p>{{maker}}</p>

        <p>Serial No:</p>
        <p>{{serial}}</p>
        <p>Capacity:</p>
        <p>{{capacity}}</p>
        <p>Operator:</p>
        <p>{{team}}</p>
        <p>Location:</p>
        <p>{{location}}</p>
        <p>Status:</p>
        <p>{{remarks}}</p>
    </div>
</section>

<section>
    <header class="border-1 w-full bg-slate-800 grid grid-cols-8 text-center gap-10 py-4 px-4 ">
        <p class="text-normal font-semibold text-gray-400 ">JOB ORDER NO.</p>
        <p class="text-normal font-semibold text-gray-400 ">EQPT CODE</p>
        <p class="text-normal font-semibold text-gray-400 ">DATE REPORTED</p>
        <p class="text-normal font-semibold text-gray-400 ">PROBLEM / ISSUES</p>
        <p class="text-normal font-semibold text-gray-400 ">ASSESSMENT</p>
        <p class="text-normal font-semibold text-gray-400 ">PARTS NEEDED</p>
        <p class="text-normal font-semibold text-gray-400 ">STATUS</p>
        <p class="text-normal font-semibold text-gray-400 ">REPORT</p>
       
    </header>
    <ul class=" w-full" id="myUL">
        {% set reportData = collections.report | filter((item) => item.code == page.code) %}
        {% for report in reportData %}

        {%- for report in collections.report | sort(attribute="data.date_report") | reverse -%}
            {%- if report.data.code == equipmentCode -%}
            <li class="bg-gray-300 grid grid-cols-8 text-center items-center text-normal">
                <p class="py-2 px-2">{{ report.data.job }}</p>
                <p class="py-2 px-2">{{ report.data.code }}</p>
                <p class="py-2 px-2">{{ report.data.date_report }}</p>
                <p class="py-2 px-2">{{ report.data.problems }}</p>
                <p class="py-2 px-2">{{ report.data.assessment }}</p>
                <p class="py-2 px-2">{{ report.data.parts }}</p>
                <p class="py-2 px-2">{{ report.data.status }}</p>
                <a href="{{ report.data.file }}" class="py-2 px-2 underline pointer">View Report</a>
            </li>
            {%- endif -%}
        {%- endfor -%}
        {% endfor %}
        
        
    
   </ul>
        
</section>