<header class="bg-blue-500 text-gray-300">
<a href="/" class=""></a><p class="text-center text-4xl font-bold py-8">SMCC M&E Motorpool Monitoring System</p></a>
<nav class="flex justify-center items-center bg-blue-600/50 py-4">
    
       <ul class="flex gap-16 justify-between text-gray-300">
              <li><a href="/">Home</a></li>
              <li><a href="/equipment">Equipment List</a></li>
              <li><a href="/report">Equipment Record</a></li>
              <li><a href="/request">Material Request</a></li>
              <li><a href="#">Materials Inventory</a></li>
       </ul>
</nav>



</header>
