<header>
    
    <nav class="flex justify-between px-[10%]">
        <p class=''>SMCC Motorpool</p>
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Contact Us</li>
        </ul>        
    </nav>
</header>