---
layout: 'base.njk'
title: SMCC Motorpool
---

<p class="text-center text-5xl font-semibold uppercase mt-20 mb-12">M&E Data Center</p>

<div class="flex px-[10%]">

      
<section class="px-4 w-[70%]">

   

   <div class="">
      <p class="pt-6 pb-4 text-2xl font-semibold">LATEST EQUIPMENT REPORT</p>
     
   </div>
   
   <div class="mb-6">
         <ul class="grid grid-cols-3 gap-10">
  {%- for report in collections.report | reverse -%}
         {%- if loop.index0 < 6 -%}
      <a href="{{ report.data.file }}">
   
       
         <li>
         <article class="uppercase">
           <img src="./asset/data-storage.png" alt="" class= "w-44">
            <p class=" text-xl font-bold mt-4">{{ report.data.code }}</p>
            <p class=" font-bold">{{ report.data.problems }}</p>
         </article>
        
         </li>
         {%- endif -%}
         {%- endfor -%}
       
      </ul>
      </a>
   </div> 

      <a href="/report" class=" text-white font-semibold  rounded bg-blue-500 py-3 px-8">View All Request</a>

</section>
<div class=" ml-[5%] px-4 py-4 w-[30%]">
   <p class="text-xl font-semibold">Latest Material Request</p>
   <ul id="myUL">
    
       {%- for report in collections.report | reverse-%}
   <li id="myList" class="items-center text-sm mt-4 bg-gray-300 gap-4 px-6 py-4 rounded-3xl">
           <p class="font-semibold">{{ report.data.parts }}</p>
      <p class="">{{ report.data.date_report }}</p>
          <p class="text-red-500 font-semibold">{{ report.data.status }}</p>
   </li>
   {%- endfor -%}   
  </ul>
 </div>
       


</div>
<p class="italic text-blue-900 font-semibold text-sm text-center mt-4">(Note:Every record within this website was only started last August 1, 2024)</p>
