---
    layout: 'base.njk'
    title: MR Monitoring
---


<p class="text-center text-5xl font-semibold uppercase mt-20 mb-16">MATERIAL REQUEST MONITORING</p>

<section class="bg-gray-200">
 <div class="px-[5%]">

  
   <header class="border-1 w-full bg-gray-500 grid grid-cols-7 text-center gap-10 py-4 px-4">
      
       <p class="text-normal font-semibold text-gray-400 ">REQUESTED PARTS</p>
       <p class="text-normal font-semibold text-gray-400 ">DATE REQUESTED</p>
       <p class="text-normal font-semibold text-gray-400 ">EQPT USE</p>
       <p class="text-normal font-semibold text-gray-400 ">UNIT</p>
       <p class="text-normal font-semibold text-gray-400 ">QTY</p>
       <p class="text-normal font-semibold text-gray-400 ">JUSTIFICATION</p>
       <p class="text-normal font-semibold text-gray-400 ">STATUS</p>

      
   </header>
   <ul class=" w-full" id="myUL">
       {%- for report in collections.report | reverse-%}
   <li id="myList" class="bg-gray-200 grid grid-cols-7 text-center border-1 border-slate-500 items-center text-normal">
           <p class="py-2 px-2">{{ report.data.parts }}</p>
      <p class="py-2 px-2">{{ report.data.date_report }}</p>
       <p class="py-2 px-2">{{ report.data.code }}</p>
       <p class="py-2 px-2">{{ report.data.unit }}</p>
       <p class="py-2 px-2">{{ report.data.qty }}</p>
       <p class="py-2 px-2">USE TO REPAIR {{ report.data.code }}</p>
       <p class="py-2 px-2">{{ report.data.status }}</p>
   </li>
   {%- endfor -%}   
  </ul>
  </div>
       
</section>
